.diagnostic-list-container {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    width: 95%;
    height: 22%;
    overflow: hidden;
}

.diagnostic-list-title {
    font-size: 18px;
    font-weight: bold;
    color: #072635;
    margin-bottom: 15px;
}

.table-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 220px;
}

.diagnostic-table {
    width: 100%;
    border-collapse: collapse;
}

.diagnostic-table th,
.diagnostic-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    color: #072635;
}

.diagnostic-table th {
    background: #F6F7F8;
    font-weight: bold;
}

.diagnostic-table .status {
    color: #072635;
}